include date_picker_range/date_picker_range.min.js
include date_picker_range/date_picker_range.min.js.map
include date_picker_range/async-*.js
include date_picker_range/async-*.js.map
include date_picker_range/*-shared.js
include date_picker_range/*-shared.js.map
include date_picker_range/metadata.json
include date_picker_range/package-info.json
include README.md
include LICENSE
include package.json
